<%- include ('parts/header') %>
<%- include ('parts/navbar') %>


<link rel="stylesheet" href="/login.css">


<div class="container text-center">
    <h1>Page de connexion</h1>
    <form action="/login" method="POST">
    <input type="email" class="form-control" name="email" placeholder="email">
    <% let EmailErrors = validationErrors.find(err => err.param === 'email') %>
    <% if (EmailErrors) { %>
        <p class="alert alert-danger">
            <%- EmailErrors.msg %>
        </p>
    <% } %>
    <input type="password" class="form-control" name="password" placeholder="password">
    <% let passwordErrors = validationErrors.find(err => err.param === 'password') %>
    <% if (passwordErrors ) { %>
        <p class="alert alert-danger">
            <%- passwordErrors.msg %>
        </p>
    <% } %>
     <br>
    <input type="submit" value="Se connecter " class="btn btn-primary">

</form>

<div>
    Vous n'avez pas de compte ? <a href="/signup"> Créer un compte </a>
</div>
</div>


<%- include ('parts/footer') %>